*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#view {
  padding: 2rem;
  display: flex;
}

.image {
  position: relative;
  display:flex;
  justify-content: center;
  align-content: center;
}



.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
    margin-top: 1rem;
    padding: 1rem;
    max-height: 30rem; /* Maximum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  @media screen and (width <= 500px) {
    .about-content {
      overflow-y: scroll;
      height: 10rem;
      scroll-snap-type: y mandatory;
    }
  }